---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About | Newark Mobile Tyres">
	<main>
        <div class="bg-light">
            <div class="container py-3">
                <h1 class="py-3 text-center">About</h1>
            </div>
        </div>
        <div class="container py-5">
            <div class="row">
                <div class="col-12">
                    <h2>Our History</h2>
                    <p>Newark Mobile Tyres was founded in 2023 by Dean, who learned the ins and outs of the tyre industry at a young age by helping his father fit tyres on the weekends for extra pocket money.</p>
                    <p>His father's mobile tyre company, based in Dorset, was one of the first in the UK, having been founded in August 1990. At the time, it was a small operation run out of an old BT box van, equipped with a bubble balancer and a walk-around tyre machine. Despite the humble beginnings, the company quickly gained a reputation for excellent service and grew over the years.</p>
                    <p>When Dean joined the company full-time in 2017, it was just a father-and-son business. However, through hard work and determination, they were able to expand the business to six vans and two depots, and hire an additional five members of staff over the next five years.</p>
                    <p>In 2022, Dean moved to Newark with his young family and decided to follow in his father's footsteps by starting his own tyre company, Newark Mobile Tyres.</p>
                    <p>Today, Newark Mobile Tyres continues the tradition of excellent service, providing high-quality tyre services to customers in the Newark area at competitive prices.</p>
                    <h2>Our Mission</h2>
                    <p>At Newark Mobile Tyres, our mission is to become a nationwide brand known for providing high-quality tyre services with honesty, reliability, and professionalism. We believe in offering fair prices and making up the difference with exceptional convenience and customer service.</p>
                    <p>Our goal is to be the go-to choice for all tyre needs, and to build long-term relationships with our customers through transparency and trust. We are dedicated to continuously improving our products and services, and to being an active and positive member of the communities we serve.</p>
                    <h2>Our Values</h2>
                    <p>At Newark Mobile Tyres, we believe in honesty, reliability, and professionalism. These values are at the heart of everything we do, and guide our interactions with customers and colleagues alike. We are committed to transparency and trust, and strive to exceed our customers' expectations in every way.</p>
                    <p>We also believe in the importance of continuous improvement, and are always looking for ways to enhance our products and services to better serve our customers. </p>
                </div>
                <div class="col-12 mt-5 row">
                    <figure class="col-6">
                        <img src="/img/ps-mobile-tyres.jpeg" alt="" class="w-100">
                        <figcaption class="bg-light small text-center py-1 text-muted">The first 'Mobile Tyres' van (August 1990)</figcaption>
                    </figure>
                    <figure class="col-6">
                        <img src="/img/about.jpeg" alt="Dean fitting a tyre" class="w-100">
                        <figcaption class="bg-light small text-center py-1 text-muted">Dean fitting a tyre in one of his Dad's vans (August 2021)</figcaption>
                    </figure>
                </div>
            </div>
        </div>
	</main>
</Layout>