---
import ContactForm from "./ContactForm.astro";
---

<section class="py-5 m-0">
    <div class="container">
        <h2 class="text-center">Get In Touch Today</h2>
        <p class="text-center">Contact Tyre Nation for a range of Newark tyre services. We are available 24/7 for tyre emergencies.</p>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <ContactForm />
            </div>
            <div class="text-center">
                <p class="mb-0"><span class="fw-bold">LOCATION:</span> Office 4, Mansfield Virtual Office, Mansfield NG17 0YR</p>
                <p class="mb-0"><span class="fw-bold">24 HOUR TELEPHONE CONTACT:</span> 01623 010101</p>
                <p class="mb-0"><span class="fw-bold">EMAIL:</span> contact@tyrenation.co.uk</p>
            </div>
        </div>
    </div>
</section>