<form action="https://formsubmit.co/spicerdean@icloud.com" method="post" class="mb-5">
    <input type="hidden" name="_template" value="box">
    <input type="hidden" name="_subject" value="Quote Submission | Tyre Nation">
    <input type="hidden" name="_autoresponse" value="Thank you for getting in touch with us for a quote. You will receive an email or phone call very soon from one of our team.">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control mb-3" placeholder="Registration" required name="Registration">
            <input type="text" class="form-control mb-3" placeholder="Postcode" required name="Postcode">
            <input type="text" class="form-control mb-3" placeholder="Name" required name="Name">
            <input type="tel" class="form-control mb-3" placeholder="Phone No." required name="Phone">
            <input type="email" class="form-control mb-3" placeholder="E-Mail" required name="Email">
        </div>
        <div class="col">
            <textarea name="Message" id="contactMessage" cols="30" rows="10" class="form-control" placeholder="How can we help you?"></textarea>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-warning px-4">Submit</button>
        </div>
    </div>
</form>