<div class="bg-warning py-5">
    <div class="container">
        <div class="text-center">
            <h2>Get A Quote</h2>
            <p>Do you need a price for our services? Give us a call today for a quote</p>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-outline-dark"><i class="bi bi-telephone-fill"></i> Call Us</a>
                <div class="mx-3"></div>
                <a href="/contact" class="btn btn-outline-dark"><i class="bi bi-envelope-fill"></i> Message Us</a>
            </div>
        </div>
    </div>
</div>