<footer>
    <div class="bg-dark py-5">
        <div class="container">
            <div class="row text-light g-lg-5 text-center text-lg-start">
                <div class="col-lg-3">
                    <a href="/" class="navbar-brand fw-bold fs-2 text-light">TYRE<span class="text-warning">NATION</span></a>
                    <p class="mb-lg-5">Tyre Nation Ltd is a 24 hour mobile tyre fitting service based in Ollerton, Newark.</p>
                    <!-- <p class="mb-0 text-muted">Tel: 01623 434432</p>
                    <p>Email: contact@tyrenation.co.uk</p> -->
                    <i class="fa-brands fa-cc-visa fs-1"></i>
                    <i class="fa-brands fa-cc-mastercard fs-1"></i>
                </div>
                <div class="col-lg-3">
                    <h5>Tyre Services</h5>
                    <ul>
                        <li><a href="/tyre-services/mobile-tyre-fitting/">Mobile Tyre Fitting</a></li>
                        <li><a href="/tyre-services/24-hour-emergency-tyre-fitting/">24 Hour Emergency Tyre Fitting</a></li>
                        <li><a href="/tyre-services/mobile-caravan-tyre-fitting/">Mobile Caravan Tyre Fitting</a></li>
                        <li><a href="/tyre-services/puncture-repair/">Puncture Repair</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h5>Other Services</h5>
                    <ul>
                        <li><a href="/other-services/locking-wheel-nut-removal/">Locking Wheel Nut Removal</a></li>
                        <li><a href="/other-services/tpms/">TPMS</a></li>
                        <li><a href="/other-services/alloygator-rim-protectors/">AlloyGator Rim Protectors</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h5>Need Help?</h5>
                    <p class="fs-4 fw-bold">Call 01623 434432</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark text-muted py-2">
        <div class="container d-flex justify-content-center small">
            <p class="my-0">&copy; 2023 Tyre Nation Ltd</p>
            <span class="mx-4">|</span>
            <a href="/privacy-policy/">Privacy Policy</a>
            <span class="mx-4">|</span>
            <a href="/terms-and-conditions/">Terms & Conditions</a>
        </div>
    </div>
</footer>

<style>
    ul {
        list-style: none;
        padding-left: 0;
    }
    li a {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
    li a:hover {
        color: gold;
    }
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: #ddd;
    }
</style>