<div class="container my-5">
    <h2 class="">How It Works</h2>
    <div class="row">
        <div class="col-12">
            <h3>1. Contact Us</h3>
            <p>The first step is to get in touch with us with your vehicle details and a brief message describing the issue that you've got. We will then get back to you with a price.</p>
        </div>
        <div class="col-12">
            <h3>2. Book a Date</h3>
            <p>Assuming you are happy with the quoted price, we will then arrange a suitable date and time for the work to be completed.</p>
        </div>
        <div class="col-12">
            <h3>3. Meet the Tech</h3>
            <p>Our technician will arrive at the designated date & time to greet you and receive the keys for your vehicle. He will then proceed to perform the requested work at your location.</p>
        </div>
        <div class="col-12">
            <h3>4. Payment</h3>
            <p>Upon completion, our technician will return your keys and take payment. We have the facilities to take both cash and card payment. And that's it!</p>
        </div>
    </div>
</div>