<div class="bg-warning py-1 d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col">
                <a class="m-0" href="#"><i class="bi bi-telephone-fill"></i> 01623 434432</a>
            </div>
            <div class="col d-flex">
                <div class="ms-auto">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-youtube ms-1"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    a {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    a:hover {
        color: black;
    }
</style>