---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import Intro from '../../components/Intro.astro';
const title = "Puncture Repair"
const heading = "Mobile Tyre Repair"
const tagline = "Have your flat tyre fixed at home"
const mainHeading = "Puncture Repair in Mansfield"
---

<Layout title={`${title} | Tyre Nation Ltd`}>
    <Hero heading={heading} tagline={tagline} />
    <Intro mainHeading={mainHeading}>
		<p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet dolorem consectetur soluta neque perferendis. Accusantium totam laborum magni, vero similique sint repellendus tenetur reprehenderit eveniet velit nam dicta sit voluptatibus.</p>
	</Intro>
</Layout>
